# Python cache
__pycache__/
*.pyc

# Sanal ortam
myenv/

# Resimler
app/static/uploads/

# Veritabanı ve instance
instance/
var/
dump.sql

# Ortam değişkenleri
.env

# Yedek dosyalar
*.csv
*.sqlite
*.db
