{% extends 'base.html' %}
{% block title %}{{ category.name }}{% endblock %}

{% block content %}
<h1 class="category">Kategori: <span class="category-name">{{ category.name }}</span></h1>

{% for post in posts.items %}
    <article class="post">
        <h1><a href="{{ url_for('main.show_post', id=post.id) }}">{{ post.title }}</a></h1>
        <small>&#x1F4C5;{{ post.created_at | format_turkish_date }}</small>
        <div class="post-content">
                    {% if post.first_image %}
                        <img src="{{ post.first_image }}" alt="{{ post.title }}">
                    {% endif %}
                        <p>{{ post.excerpt }}</p>
                        <a href="{{ url_for('main.show_post', id=post.id) }}" class="btn">DEVAMI ➞</a>
        </div>
    </article>

{% else %}
    <p>Bu kategoride post bulunamadı.</p>
{% endfor %}

<div class="pagination">
    {% if posts.has_prev %}
        <a href="{{ url_for('main.post_by_category', cat_id=category.id, page=posts.prev_num) }}">« Önceki</a>
    {% endif %}
    {% if posts.has_next %}
        <a href="{{ url_for('main.post_by_category', cat_id=category.id, page=posts.next_num) }}">Sonraki »</a>
    {% endif %}
</div>
{% endblock %}
